<link rel="stylesheet" type="text/css" href="/assets/css/govuk-frontend-5.6.0.min.css" />

<header class="govuk-header govuk-header--full-width-border app-!-no-wrap" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo govuk-!-margin-bottom-1">
            <a href="/app" class="govuk-header__link govuk-header__link--homepage">
                <img src="/assets/images/mhclg-crest.png" alt="MHCLG Crest" width="32" height="32"
                         style="color: white; filter: brightness(0) invert(1);" />
                <span class="govuk-header__product-name">MHCLG</span>
            </a>
        </div>
            <div class="govuk-header__content">
                <span class="govuk-header__service-name">Form Designer</span>

                    <form id="logout-form" method="post" action="/logout">
                                <nav class="govuk-header__navigation">
                                  <ul class="govuk-header__navigation-list">
                                        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                                            <a
                                                    href="/logout"
                                                    class="govuk-header__link"
                                                    style="color: white !important;"
                                                    onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
                                            >
                                                Sign out
                                            </a>
                                        </li>
                                  </ul>
                                </nav>
                    </form>

            </div>
    </div>
</header>


<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag" style="text-transform: lowercase;">
            beta
        </strong>
        <span class="govuk-phase-banner__text">This is a new service. Please create your form prototypes from this service and download them as JSON configurations</span>
    </p>
</div>

