{% macro changeRequestsBanner(changeRequests) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-top-4">
          <div class="govuk-notification-banner govuk-!-margin-0" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Change request
                  </h2>
              </div>
              <div class="govuk-notification-banner__content">
                  {% for question in changeRequests %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                          {{ question.title }}
                      </h3>
                      {% for message in question.messages %}
                          <p class="govuk-body govuk-!-margin-bottom-1">{{ message }}</p>
                      {% endfor %}
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>
{% endmacro %}
