{% macro previewBanner() %}
<div class="govuk-!-margin-top-4">
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            This is a preview of your application form. You cannot enter any answers.
        </div>
    </div>
</div>
{% endmacro %}
