{% macro summaryRow(item, notSuppliedText, changeText, isReadOnlySummary=false) %}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        {{item.label}}
    </dt>
    <dd class="govuk-summary-list__value">
        {% if item.value %}
            {%if item.type == 'MultiInputField' %}
                {% for itemValue in item.value%}
                    {{itemValue}}<br>
                {% endfor %}
            {% elif item.type == 'NumberField' or item.type == 'WebsiteField' and 'http' not in item.value|lower %}
                {{item.prefix}} {{item.value}} {{item.suffix}}
            {% elif item.type == 'ClientSideFileUploadField' %}
                {% if item.value.files|length == 0 %}
                    {{ notSuppliedText }}
                {% else %}
                    {% for file in item.value.files %}
                        <div>
                            <a class="govuk-link" href="/s3{{item.value.folderPath}}/download-file?filename={{file.Key}}&form_session_identifier={{file.FormSessionId}}">
                                {{ file.Key }}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% elif item.type == 'FreeTextField' %}
                {% set decodedHtml = item.value | safe  %}
                {% set pIndex = decodedHtml.indexOf('<p>')  %}
                {% if pIndex < 0 %}
                    {{ decodedHtml | replace('<ul', '<ul style="padding-left: 1.25rem;"') | replace('<ol', '<ul style="padding-left: 1.25rem;"') }}
                {% else %}
                    {{ decodedHtml }}
                {% endif %}
            {% else %}
                {{item.value}}
            {% endif %}
        {% else %}
           {{notSuppliedText}}
        {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
        {% if not isReadOnlySummary %}
        <a class="govuk-link" href="{{item.url}}">
            {{changeText}}<span class="govuk-visually-hidden"> {{item.label}}</span>
        </a>
        {% endif %}
    </dd>
</div>
{% endmacro %}
